{% load static %}
<html lang="en">
<head>

    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css:style.css' %}">
</head>
<body  style="background-color: #DEE0E3">
    
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4a4a48">
  <a class="navbar-brand" href="{% url 'story4:home'%}">
  <img src="{% static 'images/logo.jpg' %}" alt="Logo" style="width:40px; height:40px;"></a>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navb" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story4:profile'%}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story4:about'%}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'story4:schedule' %}>Schedule</a>
      </li>
      <a class="nav-link" href="https://drive.google.com/open?id=1VyJE_jKOuUTUZSTksB8AWB4tL2wNsbk3">CV</a>
      </li>
    </ul>
  </div>
</nav>

{% block content %}
{% endblock %}

</body>