{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<head>

  <title> Fathur | Schedule </title>
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css:style.css' %}">
</head>
    
<div class="container mt-3" style="margin: 0 7% 0 7%">
<h1>SCHEDULE</h1>
    <div class="article">
        <a href="{% url 'story4:schedule' %}"></a>
        <div class="article">
            <div class="row">
                {% for schedule in schedules %}
                    <div class="col-sm-4 text-center">
                        <h2>{{ schedule.activity }}</h2>
                        <p>{{ schedule.date.date }}</p>
                        <p>{{ schedule.time}}</p>
                        <p>{{ schedule.place }}</p>
                        <p>{{ schedule.category }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class = 'col-md-12'>
        <div class = 'form-group'>
            <a href="{% url 'story4:schedule_delete' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Clear</button></a>
            <a href="{% url 'story4:schedule_create' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
    </div>
</div>
{% endblock %}