<!DOCTYPE html>
{% load static %}
<html>
<head>

  <title> Fathur | Home </title>
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css:style.css' %}">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  
  background-image: url("{% static 'image/marble-white-1-2018.jpg' %}");

  
  width: 1517px;
  height: 1024px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

</head>
<body>

<div class="bg"></div>
<div class="container">
<p style="position: absolute;
width: 259px;
height: 54px;
left: 608px;
top: 131px;font-weight: bold; font-size: 48px;">Välkommen</p>
<p style="font-weight: bold;position: absolute;
width: 437px;
height: 65px;
left: 262px;
top: 195px;">
добро пожаловать </p>
<p style="font-weight: bold;position: absolute;
width: 254px;font-size: 48px;
height: 88px;
left: 820px;
top: 216px;">Velkommen</p>
<p style="font-weight: bold;font-size: 48px;position: absolute;
width: 249px;
height: 61px;
left: 405px;
top: 290px;">Bienvenue</p>
<p style="font-weight: bold;font-size: 48px;position: absolute;
width: 246px;
height: 88px;
left: 759px;
top: 277px;">Benvenuto</p>
<p style="font-weight: bold;font-size: 48px;position: absolute;
width: 219px;
height: 88px;
left: 309px;
top: 363px;
">迎接</p>
<p style="font-weight: bold;position: absolute;
width: 219px;font-size: 48px;
height: 88px;
left: 519px;
top: 353px;">WELCOME</p>
<p style="font-weight: bold;position: absolute;
width: 219px;font-size: 48px;
height: 88px;
left: 882px;
top: 353px;">歓迎歓迎</p>
<p style="font-weight: bold;position: absolute;
width: 219px;
height: 88px;font-size: 48px;
left: 348px;
top: 432px;">Welkom</p>
<p style="font-weight: bold;position: absolute;
width: 270px;
height: 88px;font-size: 48px;
left: 637px;
top: 432px;">Willkommen</p>
<p style="font-weight: bold;position: absolute;
width: 219px;
height: 88px;font-size: 48px;
left: 1005px;
top: 459px;
">Croeso</p>
<p style="font-weight: bold;position: absolute;
width: 383px;
height: 88px;font-size: 48px;
left: 389px;
top: 513px;">Selamat Datang</p>
<p style="font-weight: bold;position: absolute;
width: 420px;font-size: 38px;
height: 88px;
left: 782px;
top: 557px;
">Wilujeung Sumping</p>
<p style="position: absolute;
width: 209px;font-weight: bold;
font-size: 20px;
height: 54px;
left: 615px;
top: 726px;">Let's take a tour</p>
<a class="nav-link" href="{% url 'story4:profile'%}" style="position: absolute;
width: 209px;
height: 54px;
left: 348px;
top: 803px;
">Profile</a>
<a class="nav-link" href="{% url 'story4:about'%}" style="position: absolute;
width: 209px;
height: 54px;
left: 673px;
top: 829px;">About</a>
<a class="nav-link" style="position: absolute;
width: 209px;
height: 54px;
left: 998px;
top: 811px;" href="https://drive.google.com/open?id=1VyJE_jKOuUTUZSTksB8AWB4tL2wNsbk3">CV</a>
</div>
</body>
</html>